body {
    background: url(../images/twinkle_twinkle.png);
    color: white;
}

h2 {
    text-shadow: 2px 2px 10px white;
    color:lightskyblue;
}

h3, h5 {
    text-shadow: 2px 2px 10px lightskyblue;
    color:white;   
}

.container {
    width: 100%;
}

.jumbotron {
    background-image: url(../images/diamonds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    text-align: center;
    color: white;
}

.crystals {
    height: 100px;
}